<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" >
<html>
  <head>
  	<title>combinar</title>
  	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
  	<link rel="stylesheet" href="/stylesheets/combinar.css" type="text/css" />
  </head>
<body>
	<div id="main">
   		<div id="content">
     			<h1><span class="com">com</span><span class="binar">binar</span></h1>
			<%= yield %>
   		</div>
		<div id="footer">
			<span>Awesome APIs</span><br>
			<img src="/images/echonest.gif" width="100">
			<img src="/images/lastfm.jpg" width="100">
			<img src="/images/musicbrainz.png" width="100">
			<img src="/images/songkick.png" width="100">
		</div>
	</div>
</body>
</html>